@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #579BB1;
    --primary-color: #E1D7C6;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size: 3em;
}

h3{
    font-size: 2em;
    padding: 1em 0 1em 0;
}

.box{
    display: inline-block;
    border: 2px solid var(--primary-color);
    font-size: 3em;
    margin: 0.3em 0 0.3em 0;
    padding: 0.3em;
}